<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1RKa41oM5kPotpLIHyqBHV4LtvaTCGIg</string>
	<key>GCM_SENDER_ID</key>
	<string>360402965589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullah.sidpec.the.hive.theHive</string>
	<key>PROJECT_ID</key>
	<string>thehive-220c0</string>
	<key>STORAGE_BUCKET</key>
	<string>thehive-220c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360402965589:ios:ad1ecc8393f36323d930dc</string>
</dict>
</plist>